body{
    background-color: #f5f5dc;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    background-color: #a0a090;
    border: 5px solid #4b4b43;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-family: "Kalam", cursive;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    transition: transform 0.3s ease;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {
    transform: scale(1.2);
}

form{
    padding-bottom: 20px;
}

#link{
    font-size: large;
}

li{
    padding-bottom: 5px;
}

select {
    padding: 5px;
    color: #333;
    background-color: #f5f5cf;
    border: 2px solid #4b4b43;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

select:hover {
    background-color: rgb(247, 247, 236);
}

p{
    font-family: caveat;
    font-weight: 500;
}